input,
textarea {
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #de3831 !important;
  color: #de3831 !important;
  height: 50px !important;
  padding: 0px !important;
}
input.is-invalid,
textarea.is-invalid {
  border: 1px solid #de3831 !important;
  padding: 10px !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #de37317c !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #de37317c !important;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #de37317c !important;
}
input::placeholder,
textarea::placeholder {
  color: #de37317c !important;
}
textarea {
  padding-top: 13px !important;
  padding-bottom: 100px !important;
}
select {
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #de3831 !important;
  height: 50px !important;
  padding: 0px !important;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  color: #de3831 !important;
}
select:disabled {
  opacity: 0.5 !important;
  background: none !important;
}
select.is-invalid {
  border: 1px solid #de3831 !important;
  padding: 10px !important;
}
label {
  font-size: 17px;
  font-weight: 500;
}
.btn {
  height: 50px !important;
  padding: 0px !important;
  border-radius: 0px !important;
  border: 2px solid #de3831 !important;
  background: white;
  color: #de3831;
  font-weight: 700;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background: #de3831;
}
.invalid-tooltip {
  font-size: .700rem;
  font-weight: 500;
  margin: 0;
  border-radius: 0;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
