.table {
  background: white;
  border: 2px solid #de3831;
}
.table td,
.table th {
  border: none;
  color: #de3831;
}
.table td {
  border-right: 2px solid #de3831;
  border-left: 2px solid #de3831;
}
.table thead th {
  border-bottom: 2px solid #de3831;
}
